body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}
.container{
    border: none;
    border-radius: 15px;
    background-color: aquamarine;
    height: 50vh;
    width: 25vw;
    box-shadow: 4px 5px 6px;
}
.header{
    text-align: center;
    padding: 10px;
    font-size: 1.7em;
    font-weight: 900;
    border-bottom: 0.5px solid white;
    margin-bottom: 20px;
}