/* css styling code here below for to-do list app */
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}
/* main container of to-do list */
.container{
    border: none;
    border-radius: 15px;
    background-color: aquamarine;
    height: 50vh;
    width: 25vw;
    box-shadow: 4px 5px 6px;
}
/* main heading of to-do list */
.header{
    text-align: center;
    padding: 10px;
    font-size: 1.7em;
    font-weight: 900;
    border-bottom: 0.5px solid white;
    margin-bottom: 20px;
}
/* add task section of to-do list */
.addTask{
    display: flex;
    justify-content: space-evenly;
}
/* input section of to-do list app */
input{
    padding: 7px;
    border-radius: 5px;
}
/* button section of to-do list app */
button{
    background-color: antiquewhite;
    color: rgb(11, 11,11);
    padding: 4px;
    border-radius: 5px;
}
/* ul creation css of to-do list app */
ul{
    list-style: none;
    padding: 15px;
}
/* list of to-do app list */
li{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
    padding:8px;
    margin-bottom: 7px;

}

/* media query below here */
@media (min-width: 370px) and (max-width: 1122px){
    .container{
        width: 80vw;
        height: 60vh;
    }
}